<div class="main">
  <div class="row headers">
    <div class="col-sm-3 float">
      <mat-icon class="icons">star</mat-icon>
    </div>
    <div class="col-sm-6 float">
      <form class="example-form">
        <mat-form-field class="main">
          <mat-label style="color: white;">Search</mat-label>
          <input type="text" name="search" [(ngModel)]="searchText" matInput>
          <mat-icon matSuffix style="color: white;">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-3" style="margin-top: 10px;">
      <i class="fa" style="font-size:30px; color: white;">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'> {{cartNumber}} </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 card">
      <mat-icon class="float">unfold_more</mat-icon>
      <p class="float" style="font-size: 20px;">Sort</p>
    </div>
    <div class="col-xs-6 card">
      <mat-icon class="float">filter_alt</mat-icon>
      <p class="float" style="font-size: 20px;">Filter</p>
    </div>
  </div>

  <div *ngFor="let item of itemList; let i = index">
    <div *ngIf="i % 2 == 0" class="row">
      <div class="col-xs-6" style="padding: 20px; border: 1px ridge grey;" *ngIf="i < itemList.length">
        <img src={{item.img_url}} class="main">
        <div class="main">
          <p>{{itemList[i].name}}</p>
          <span class="float">&#x20b9;</span>
          <p class="float">&nbsp;{{itemList[i].price}} &nbsp; &nbsp; </p>
          <del>900</del>
          <p class="discount"> {{itemList[i].discount}} % off</p>
          <button class="btn" (click)="addCart()"> Add to Cart</button>
        </div>
      </div>
      <div class="col-xs-6" style="padding: 20px; border: 1px ridge grey;" *ngIf="i+1 < itemList.length">
        <img src={{item.img_url}} class="main">
        <div class="main">
          <p>{{itemList[i + 1].name}}</p>
          <span class="float">&#x20b9;</span>
          <p class="float">&nbsp;{{itemList[i + 1].price}} &nbsp; &nbsp; </p>
          <del>900</del>
          <p class="discount"> {{itemList[i + 1].discount}} % off</p>
          <button class="btn" (click)="addCart()"> Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>